*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***** Contenedor Productos *****/

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 1rem;
}